{
  "rules": {
    "function-paren-newline": "off",
    "no-underscore-dangle": "off",
    "import/extensions": ["error", "always", {
      js: "never",
      mjs: "never",
    }],
    "no-restricted-syntax": [0, "ForInStatement", "ForOfStatement"],
    "no-await-in-loop": [0, "ForInStatement", "ForOfStatement"],
    "max-len": [1, 120, 2]
  },
  "globals": {
    "describe": true,
    "beforeEach": true,
    "before": true,
    "afterEach": true,
    "after": true,
    "it": true
  },
  "env": {
    "node": true,
    "es6": true
  },

  "extends": [
    "airbnb-base"
  ],

  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".mjs"
        ]
      }
    }
  }
}
